body{
    align-items: center;
    background-color: #FFC2D1;
}
.header{
    text-align: center;
    font-size: 2em;
}
.topnav{
    
    margin-left: 20px;
    margin-right: 20px;

}
.topnav ul{
    display: flex;
    flex-direction: space-around;
    justify-content: center;
    margin: 0;
    
}
.topnav ul li{
    list-style: none;
    
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.footer{
    text-align: center;
    font-size: 1.5em;
}